@import "tailwindcss";

@layer base {
  html {
    font-family: "Poppins", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji";
  }
  body { @apply antialiased text-gray-800; }
}